#tiles {
    display: inline-block;
}

.card-block {
    padding: .2rem;
}

.card,
.p-3,
.p-2 {
    padding: 0 !important;
    margin: 0 !important;
}

.card {
    border: 0;
    border-radius: 0;
}

.card:hover {
    border: 0;
}