img {
    /*opacity: 0 !important;*/
    filter: contrast(0) !important;
}

.card-image {
    /*background-color: #cccccc !important;*/
}

.card-block>.row>.col-3 {
    /*background-color: #cccccc !important;*/
}

.card-block>.row>.col-4>a {
    /*background-color: #cccccc !important;*/
}

.carousel-item {
    /*background-color: #cccccc !important;*/
}

.header-logo-img {
    /*background-color: #cccccc !important;*/
}

#banner-caroussel-top {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0rem;
    background: #a7a7a7;
    border-radius: 0 0 0 .5rem;
}

#banner-caroussel-top ul {
    font-size: .8rem;
    list-style: none;
    padding-left: 1rem;
    padding-top: .5rem;
    width: 15rem;
}