.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.carousel .card {
    flex-direction: column;
}

.image-item img {
    margin: 0 auto;
}

@media (min-width: 42em) and (min-height: 42em) {
    .carousel .card {
        flex-direction: row;
    }
    footer {
        position: absolute;
        bottom: 0;
    }
    .detail {
        min-height: 100%;
        height: 100%;
        padding-top: 7rem;
        padding-bottom: 2rem;
        background-color: #333333;
    }
}