* {
    margin: 0;
}

footer {
    width: 100%;
}

.detail {
    padding-top: 9.5rem;
    padding-bottom: 2rem;
    background-color: #333333;
    min-height: 38.5rem;
}

.carousel-item>img {
    margin: 0 auto 0 auto;
    vertical-align: middle;
}

@media (min-width: 42em) {
    footer {
        position: absolute;
        bottom: 0;
    }
    .detail {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        padding-top: 7rem;
        padding-bottom: 2rem;
        background-color: #333333;
    }
    .carousel-inner {
        min-height: 0;
        max-height: none;
    }
}