footer {
    display: none;
}

.navbar {
    display: none;
}

.breadcrumb {
    display: none;
}

.container {
    justify-content: left;
}

.detail {
    padding: 0;
    background-color: #333333;
    min-height: 10rem;
}

.image-block {
    width: 100%;
    margin: 1rem;
}

.image-block>.card-image {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    font-size: 0.9rem;
}

.card img {}

.image-title {
    font-weight: bold;
}

.image-info {
    margin-top: 0;
    margin-bottom: 1rem;
}