footer {
    display: none;
}

.navbar {
    display: none;
}

.breadcrumb {
    display: none;
}

.container {
    justify-content: left;
}

.detail {
    padding: 0;
    background-color: #333333;
    height: 100%;
}

.image-block {
    display: inherit;
    margin: 1rem;
}

.card img {}

.image-title {
    font-weight: bold;
}

.image-info {
    margin-top: 0;
    margin-bottom: 1rem;
}

.image-block>.image-text {
    display: inline-block;
}