@charset "ISO-8859-1";
/* CSS Document */

html,
body {
    height: 100%;
    color: #777777 !important;
    line-height: 1rem;
}

body>footer {
    padding: .5rem 1rem;
}

body>footer p {
    margin-bottom: .05rem !important;
}

body>footer .footer-block {
    margin: 0 auto;
    width: 90%;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #cccccc !important;
    text-decoration: none !important;
}

.h4,
h4 {
    font-size: .85rem;
}

small {
    font-size: .85rem;
}

footer .bar-social {
    padding-top: .6rem;
    padding-left: 1rem;
}

footer .bar-social>.fa {
    margin-right: .5rem;
}

footer .bar-social>.fa:last-child {
    margin-right: 0;
}

footer .bar-social>a.fa-twitter {
    color: rgba(42, 170, 224, 0.5);
}

footer .bar-social>a.fa-facebook {
    color: rgba(79, 136, 255, 0.5);
}

footer .bar-social>a.fa-twitter:hover {
    color: #2aaae0 !important;
}

footer .bar-social>a.fa-facebook:hover {
    color: #4f88ff !important;
}

footer .bar-goHead {
    margin-bottom: 3.8rem;
    padding-left: 0;
    max-width: 2.0rem;
    padding-bottom: .5rem;
    background: rgba(136, 136, 136, 0.75);
    margin-left: 1rem;
    border-radius: .25rem;
}

footer .hidden {
    display: none;
}

.navbar {
    padding: .2rem 1rem;
}

.navbar-brand {
    max-width: 50%;
}

.navbar>div>a.fa {
    top: 1rem;
    right: 1.2rem;
    margin-left: .4rem;
}

.navbar>div>a.fa-rss {
    color: rgba(255, 165, 0, 0.5);
    margin-left: 2.5rem;
    font-size: 1rem;
}

.navbar>div>a.fa-rss:hover {
    color: #ffa500 !important;
}

.navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
}

.navbar-nav {
    font-size: .8rem;
}

.navbar-nav>li>span {
    padding-right: .3rem;
}

.container-fluid {
    border-bottom: 1px solid #55595c;
    padding-top: 1rem;
    padding-bottom: .8rem;
    margin-bottom: .5rem;
}

.container-fluid h4 {
    font-size: .9rem;
}

.container-fluid>.menu {
    font-size: .9rem;
}

.container-fluid>.about>p {
    font-size: .9rem;
}

.container-fluid>.menu>h4 {}

.container-fluid #menu li>span {
    margin-right: .3rem;
    width: 1rem;
    text-align: center;
    font-size: inherit;
}

.container-fluid #menu li>a {
    font-size: .9rem;
}

.navbar .collapse h4 {
    color: #818a91;
}

.navbar .collapse .text-muted {
    font-size: .9rem;
    color: #818a91;
}

.navbar .collapse.show {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.navbar-toggler {
    border: none;
}

button.navbar-toggler {
    display: inherit;
    border: 1px solid rgba(255, 255, 255, .1);
    margin-top: .3rem;
}

.navbar-toggler-right>#lnkrss {
    position: absolute;
    top: -.3rem;
    right: 0;
}

.navbar-menu {
    padding-right: .2rem;
    padding-top: 0;
}

.navbar>.about {
    float: left;
    max-width: 30rem;
    margin-right: 3rem;
}

.navbar>.social a {
    font-weight: 500;
    color: #eceeef;
}

.navbar>.social a:hover {
    color: #fff;
}

.navbar .header-logo {
    margin: 1% 0.5%;
}

.navbar .header-logo-img {
    padding: 0 !important;
    padding-left: .8rem;
}

.navbar .header-logo-img img {
    min-width: 3.8rem;
}

.navbar .p-2 a {
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.p-1 {
    padding: .05rem !important;
}

.breadcrumb {
    padding: 0rem 1rem;
    margin-bottom: 1.5rem;
    list-style: none;
    background-color: inherit;
    font-size: .9rem;
}

.breadcrumb-item>a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.goHead {
    padding-top: .5rem;
    display: block;
}

.album {
    min-height: 50rem;
    padding-top: 7rem;
    padding-bottom: 1rem;
    background-color: #4a4a4a;
}

.card {
    padding: .25rem;
    margin-bottom: 1rem;
    background-color: #2b2b2b;
}

.card>img {
    margin-bottom: .15rem;
    width: 100%;
}

.card:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.card-text {
    font-size: .9rem;
    margin-bottom: .5rem;
}

.card-text>small {
    font-size: .75rem;
}

.card-stock {
    font-size: .9rem;
}

.card-block {
    padding: .25rem .45rem;
}

.card-block>h4 {
    margin-bottom: .3rem;
    margin-top: .2rem;
    color: #ababab;
}

.card-block>h4>span.fa {
    font-size: .8rem;
    vertical-align: top;
    padding-top: .2rem;
}

.card-block>a {
    display: block;
    margin-bottom: .3rem;
}

.card-block>p {
    margin-bottom: .3rem;
}

.card-block>p>small {
    font-size: .75rem;
}

.card-block>div.row {
    margin-left: 0;
    margin-right: 0;
}

.card-block img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.card-block img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.card-block>div.row>.col-4 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    margin-top: .3rem;
}

.card-block>.row>.col-3>img {
    width: 100%;
}

.card-block>ul {
    font-size: .8rem;
    margin-bottom: 0;
    list-style: none;
    padding-left: 1.5rem;
}

.card-block::after {
    display: block;
}

.card-title>span {
    display: inline-block;
    padding: 0;
}

.card-title>span.fa {
    margin-right: .2rem;
}

.card-title>.col-11 {
    padding-right: .2rem;
    padding-left: .2rem;
    vertical-align: top;
}

.card-title>.secuencia {
    float: right;
}

.card-colection>.card-text {
    margin-bottom: .3rem;
}

.card-colection>.card-text>a {
    margin-left: .3rem;
}

.card-image {
    text-align: center;
}

.card-video {
    background-image: url(../resources/play.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    margin: auto;
}

.card-video:hover {
    background-color: #fafafa;
}

.card-video>img {
    opacity: .6;
}

.card-thumb {
    margin-left: -.2rem;
    margin-right: -.5rem;
    margin-top: .2rem;
}

.card-thumb>.col-3 {
    padding: 0;
}

img.card-thumb {
    width: 100%;
}

.card-quote {
    padding: 0rem;
    display: inline-block;
}

.card-date {
    margin-bottom: .2rem;
}

.card-date>small {
    font-size: .75rem;
}

p.card-date {
    line-height: inherit;
    margin-bottom: 0;
    margin-top: .3rem;
}

.card-columns>a {
    color: inherit;
}

.card-columns>a:hover {
    text-decoration: underline;
}

@media (min-width: 34em) {
    .navbar .header-texto-titulo {
        font-size: 200%;
    }
    .header-texto-subtitulo {
        font-size: 75%;
    }
    .navbar-toggler {}
    .navbar .header-logo-img {
        padding-left: .5rem;
    }
    .navbar .header-texto {
        padding-left: .8rem;
    }
    .album {
        padding-top: 6rem;
    }
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .container {
        max-width: 95%;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.modal-content {
    background: #ababab;
    color: #333333;
}

.modal-header {
    border-bottom: 1px solid #333333;
    padding: 0.4rem 0.8rem;
}

.modal-footer {
    border-top: 1px solid #333333;
    padding: .6rem;
}

.modal-open {
    padding-right: inherit !important;
}

.close {
    text-shadow: 0 1px 0 #333333;
}

.bg-inverse {
    background-color: #2b2b2b !important;
}

.image-text .title {
    height: auto;
}

.image-text .text {
    height: 90%;
}

.image-text .bar-social {
    position: absolute;
    bottom: 1px;
    width: 98%;
    height: auto;
    text-align: right;
    font-size: 135%;
}

.bar-social>a.fa-facebook-square {
    color: rgba(79, 136, 255, 0.5);
}

.bar-social>a.fa-facebook-square:hover {
    color: #4f88ff !important;
}

.popover {
    min-width: 245px;
}

.popover .arrow {}

.popover-header {
    background: #dedede;
}

.popover-body {
    background: #ececec;
}

.popover-paragraph {
    display: inline-block;
    vertical-align: top;
    padding-left: .5rem;
    width: 63%;
}

.popover-line{
    display: block;
}

.popover-label {
    display: inline-block;
    padding-right: .2rem;
}

.popover-dato {
    display: inline-block;
}

.popover-image {
    display: inline-block;
}

.popover-image>img{
    max-width: 80px;
}