@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family: FuenteMenu;
	src: url('../font/uni05_63.ttf'),
		 url('../font/uni05_63.eot'); /* IE9+ */
}
@font-face
{
	font-family: FuenteTitulo;
	src: url('../font/accid___.ttf'),
		 url('../font/accid___.eot'); /* IE9+ */
}
@font-face
{
	font-family: FuenteVersion;
	src: url('../font/SaginawLight.ttf'),
		 url('../font/SaginawLight.eot');	
}