#html5-image {
    background: #a9a9a9;
}
#html5-elem-data-box {
    display: none !important;
}
#html5-watermark {
    display: none !important;
}
.lightboxcontainer {
    width:100%;
    text-align:left;
}
.lightboxleft {
    width: 35%;
    float:left;
}
.lightboxright {
    width: 65%;
    float:left;
    }
    .lightboxright iframe {
        min-height: 390px;
    }
.divtext {
    margin: 5%;
    }
    .divtext .divtitle {
        font-size: 120%;
        font-weight: bold;
        margin: 0.8rem 0;
    }
    .divtext .divdescription {
        font-size: 100%;
        line-height: 1.2rem;
    }
@media (max-width: 800px) {
    .lightboxleft {
        width: 100%;
    }
    .lightboxright {
        width: 100%;
    }
    .divtext {
        margin: 12px;
    }
}